@layout('layouts/main')
@set('title', title)

@section('body')
    <p>{{message}}</p>
    <form method="post" action="/person/delete/{{person.id}}">
        <pre>{{JSON.stringify(person,null,'')}}</pre>
        <button type="submit" class="btn btn-primary">削除</button>
    </form>
@end 